[Unit]
Description=Automatically renew my kerberos ticket
After=autofs.service

[Service]
ExecStart=/usr/bin/krenew -K 60 -v -i
Restart=always

[Install]
WantedBy=default.target
