[Unit]
Description=mbsync service [cern-prio-1]
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=oneshot
ExecStart=/home/nacho/.local/bin/mbsync cern-prio-1

[Install]
WantedBy=mail.target
