[Unit]
Description=mbsync service [prio-0]
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync prio-0

[Install]
WantedBy=mail.target
