[Unit]
Description=mbsync service [prio-1]
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync prio-1

[Install]
WantedBy=mail.target
