/* Needs toolkit.legacyUserProfileCustomizations.stylesheets true */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Remove vertical scrollbar */

:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-5px!important;
 overflow-x:scroll;
}

/* Remove white flash */

#tabbrowser-tabpanels {
  background: var(--toolbar-bgcolor) !important;
}

/* Remove tab bar */
#TabsToolbar { visibility: collapse !important; }

/* Remove back and forward buttons */
#back-button, #forward-button { display:none !important; }
