[user]
	name = Nacho Barrientos
	email = nacho.barrientos@cern.ch
[init]
	defaultBranch = master
[http]
	emptyAuth = true

[merge]
	conflictStyle = diff3

[core]
	excludesFile = ~/.gitignore-global

[gitlab "gitlab.cern.ch/api/v4"]
	user = ibarrien

[github]
	user = nbarrientos

[sourcehut]
	user = nbarrientos

[diff "elisp"]
	xfuncname = ^\\([^[:space:]]*def[^[:space:]]+[[:space:]]+([^()[:space:]]+)
