urxvt.saveLines: 20000
urxvt.scrollBar: false
urxvt.font: xft:JetBrainsMono:size=11:autohint=true:antialias=true
urxvt.perl-ext-common: default,matcher,selection-to-clipboard
urxvt.url-launcher: firefox
urxvt.keysym.Shift-Control-V: eval:paste_clipboard
urxvt.iso14755: false
urxvt.iso14755_52: false
urxvt.letterSpace: -1

*.foreground:    #989898
*.background:    #000000
*.cursorColor:   #989898
*.highlightColor:#2266ae

! Black colours
*.color0:        #1A1B26
*.color8:        #4E5173
! Red colours
*.color1:        #ff9580
*.color9:        #ff5f59
! Yellow colours
*.color2:        #d2b580
*.color10:       #d0bc00
! Green colours
*.color3:        #88ca9f
*.color11:       #44bc44
! Blue colours
*.color4:        #82b0ec
*.color12:       #2fafff
! Magenta (pink, !green) colours
*.color5:        #caa6df
*.color13:       #feacd0
! Cyan (blue + green)
*.color6:        #9ac8e0
*.color14:       #00d3d0
! White colours
*.color7:        #ACB0D0
*.color15:       #ABB2BF