[Unit]
Description=Automatically renew my kerberos ticket
After=autofs.service

[Service]
ExecStart=/usr/bin/krenew -K 60 -v -t -i
Restart=always

[Install]
WantedBy=multi-user.target
